.auth-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  margin: 40px 0;
}

.auth-container > div {
  flex: 1 1 350px;
  max-width: 400px;
}

@media (max-width: 900px) {
  .auth-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    margin: 40px 0;
  }

  .auth-container > div {
    flex: 1 1 350px;
    max-width: 400px;
  }
}

/* Phone: stack vertically */
@media (max-width: 600px) {
  .auth-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    margin: 40px 0;
  }

  .auth-container > div {
    flex: 1 1 350px;
    max-width: 400px;
  }
}
